/* color scheme sourced from http://khroma.co/generator/ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

/*GOALS FOR SECOND DRAFT: CREATE CLASSES FOR COLORS, LIGHT & DARK COLOR THEME FOR EXAMPLE*/

body {
    background-color: #97F1B7;
    color: #fe4d50;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #138AFA;
    color: #ffffff;
}

.header div {
    float: right;
}

.content {
    padding-left: 20px
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div ul {
    list-style-type: none;
    font-size: 25px;
}

.header div ul li {
    display: inline;
    margin-left: 25px;
}

a {
    color: #eb1993;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.portrait {
    width: 15%;
    /*padding: 20px;
    margin: 4px;*/
}

/*about me stuff*/

.radiant {
    display:flex;
    flex-direction: row;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project1 {
    width: 45%
}


.footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #138AFA;
    color: #ffffff;
}
.footer div {
    float: right;
    display: inline;
}

/* NEED TO INCLUDE MEDIA QUERRY, STARTING WITH DESKTOP
CURRENTLY DO NOT UNDERSTAND HOW TO PROCEED SO WILL NEED TO RETURN TO CSS AFTER TUTORING 